# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings
.vscode/

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db
